@page
@model Meni
@{
    ViewData["Title"] = "MENU";
}

<head>
    <style>
        .imgS {
            max-width: 50%;
            height: auto;
        }
    </style>
</head>

<div class="text-left">
    <h1>MENU</h1>

</div>

<table class="table">
    <thead>
        <tr>
            <th>
                <p><strong>Nazwa</strong></p>
            </th>
            <th>
                <p><strong>Opis</strong></p>
            </th>
            <th>
                <p><strong>Zdjęcie</strong></p>
            </th>
            <th>
                <p><strong>Cena</strong></p>
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
       
        @foreach (var item in Model.Records.Take(3))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @{
                        int i = 1;
                        foreach (var answer in new string[] { "a", "b", "c" })
                        { 
                             <img class=imgS src="@Url.Content(string.Format("~/{0}.jpg", @i++))"  alt = "question"/> 
                             @Html.Display(answer) 
                              <br/> 
                         }
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>            
            </tr>
        }
    </tbody>
</table>
