@page
@model Projekt_Restauracja.Pages.AddCategoryGroup.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CategoryGroup</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryGroup.Dish)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CategoryGroup.Dish.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryGroup.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CategoryGroup.Category.Id)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-page="./Index">Back to List</a>
</div>
